@layer base {
  /**
  * Typography
  */

  :where(h1, h2, h3, h4, h5, h6, .heading) {
    color: var(--color-text-strong);
    font-family: var(--typography-heading-font-family);
    font-weight: var(--typography-heading-font-weight);
    line-height: var(--typography-heading-line-height);
    text-rendering: optimizeLegibility;
  }

  :where(p, span, .body) {
    color: var(--color-text-default);
    font-family: var(--typography-body-font-family);
    line-height: var(--typography-body-line-height);
    font-weight: var(--typography-body-font-weight);
  }

  /* Heading scale */
  :where(h1, .heading-xxxl) {
    font-size: var(--typography-heading-font-size-xxxl);
    line-height: var(--typography-heading-line-height-xxxl);
    margin-bottom: calc(
      var(--typography-heading-line-height-xxxl) *
        var(--typography-heading-font-size-xxxl)
    );
  }

  :where(h2, .heading-xxl) {
    font-size: var(--typography-heading-font-size-xxl);
    line-height: var(--typography-heading-line-height-xxl);
    margin-bottom: calc(
      var(--typography-heading-line-height-xxl) *
        var(--typography-heading-font-size-xxl)
    );
  }

  :where(h3, .heading-xl) {
    font-size: var(--typography-heading-font-size-xl);
    line-height: var(--typography-heading-line-height-xl);
    margin-bottom: calc(
      var(--typography-heading-line-height-xl) *
        var(--typography-heading-font-size-xl)
    );
  }

  :where(h4, .heading-lg) {
    font-size: var(--typography-heading-font-size-lg);
    line-height: var(--typography-heading-line-height-lg);
    margin-bottom: calc(
      var(--typography-heading-line-height-lg) *
        var(--typography-heading-font-size-lg)
    );
  }

  :where(h5, .heading-md) {
    font-size: var(--typography-heading-font-size-md);
    line-height: var(--typography-heading-line-height-md);
    margin-bottom: calc(
      var(--typography-heading-line-height-md) *
        var(--typography-heading-font-size-md)
    );
  }

  :where(h6, .heading-sm) {
    font-size: var(--typography-heading-font-size-sm);
    line-height: var(--typography-heading-line-height-sm);
    margin-bottom: calc(
      var(--typography-heading-line-height-sm) *
        var(--typography-heading-font-size-sm)
    );
  }

  /* Text scale */
  :where(sup, sub, .text--xs) {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    margin-bottom: calc(var(--line-height-xs) * var(--font-size-xs));
  }

  :where(.text--sm) {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  :where(.text--md) {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
  }

  :where(.text--lg) {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }

  :where(.text--xl) {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }

  :where(.text--2xl) {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
  }

  :where(.text--3xl) {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
  }

  /* font weights */
  b,
  strong,
  .bold {
    font-weight: 700;
  }
}
