@layer themes {
  :root {
    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-mode]) {
      --color-fill-surface: var(--color-neutral-black);
      --color-text-default: var(--color-neutral-white);
    }
  }

  :root[data-mode="dark"] {
    --color-fill-surface: var(--color-neutral-black);
    --color-text-default: var(--color-neutral-white);
  }
}
