@layer themes {
  @media (prefers-color-scheme: dark) {
    :root:not([data-mode]) {
      --color-color-fill-surface: var(--neutral-black);
      --color-color-text-default: var(--neutral-white);
    }
  }

  :root[data-mode="dark"] {
    --color-color-fill-surface: var(--neutral-black);
    --color-color-text-default: var(--neutral-white);
  }
}
