@layer base {
  :root {
    font-family: var(--font-family-sans, system-ui, sans-serif);
    line-height: 1.5;
    color: var(--color-text-default, #000);
    background: var(--color-fill-surface, #fff);

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
}
